
<section class="jumbotron text-center" >

<%= flash[:error]%>

<h1>Login to your Account</h1>

<%= form_for :user do |f| %>
  <div class='field'>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
    </div>
    <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    </div>
    <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
 
  <p><%= f.submit "Log in" %></p>
<% end %>
</section>