<% if rollover.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(rollover.errors.count, "error") %>
      prohibited this rollover from being saved:
    </h2>

    <ul>
    <% rollover.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(rollover) do |f| %>
  <div class= 'field'>
  <%= f.label :rollover_type %><br>
    <%= f.select :rollover_type, ["Incoming","Outgoing"] %><br />
  </div>
  <div class='field'>
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
   <div>
  <%= f.label :institution_id %>
  <%= f.collection_select(:institution_id, Institution.all, :id, :name, prompt: true) %>
  </div>
  <div>
  <%= f.fields_for :institution do |i|%>
  <%= i.label :name%>
  <%= i.text_field :name %>
  </div>
  <div>
  <%= i.label :address%>
  <%= i.text_field :address %>
  </div>
  <div>
   <%= i.label :file_type%>
  <%= i.text_field :file_type %>
  </div>
<% end %>
  </div>
  <div class='field'>
    <%= f.label :amount %><br />
    <%= f.number_field :amount, min:0 %>
  </div>
  
  <%= f.submit button_label %>
<% end %>
