<%= form_for(rollover) do |f| %>
  <div class= 'field'>
  <%= f.label :rollover_type %><br>
    <%= f.select :rollover_type, ["Incoming","Outgoing"] %><br />
  </div>
  <div class='field'>
    <%= f.label :origin_bank %><br />
    <%= f.text_field :origin_bank %>
  </div>
   <div>
  <%= f.label :institution_id, :institution %>
  <%= f.text_field :institution %>
  </div>
  <div class='field'>
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  
  <%= f.submit button_label %>
<% end %>
