<%= form_for(rollover) do |f| %>
  <div class='field'>
    <%= f.label :rollover_type %><br />
    <%= f.text_field :rollover_type %>
  </div>
  <div class='field'>
    <%= f.label :origin_bank %><br />
    <%= f.text_field :origin_bank %>
  </div>
  <div class='field'>
    <%= f.label :destination_bank %><br />
    <%= f.text_field :destination_bank %>
  </div>
  <div class='field'>
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  
  <%= f.submit button_label %>
<% end %>
