<section class="jumbotron text-center" >

<%= form_for(rollover) do |f| %>

 <%= render partial: 'layouts/errors', locals: {object: @rollover} %>

  <div class= 'field'>
  <%= f.label :rollover_type %><br>
    <%= f.select :rollover_type, ["Incoming","Outgoing"] %><br />
  </div>
  <div class='field'>
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
   <div>
  <%= f.label :institution_id %>
  <%= f.collection_select(:institution_id,current_user.institutions.uniq, :id, :name, prompt: true) %>
  </div>
  <div>
  <%= f.fields_for :institution do |i|%>
  <%= i.label :name%>
  <%= i.text_field :name %>
  </div>
  <div>
  <%= i.label :address%>
  <%= i.text_field :address %>
  </div>
  <div>
   <%= i.label :file_type%>
  <%= i.text_field :file_type %>
  </div>
<% end %>
  </div>
  <div class='field'>
    <%= f.label :amount %><br />
    <%= f.number_field :amount, min:0.01, step: :any %>
  </div>
  
  <p><%= f.submit button_label %></p>
<% end %>
</section>