<section class="jumbotron text-center" >


<%= form_for(rollover) do |f| %>
  <div class= 'field'>
<ul>
<% @rollover.errors.full_messages.each do |error_message|%>
<li><%= error_message %></li>
<% end %>
<ul>

  <%= f.label :rollover_type %><br>
    <%= f.select :rollover_type, ["Incoming","Outgoing"] %><br />
  </div>
  <div class='field'>
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
   <div>
  <%= f.label :institution_id %>
  <%= f.collection_select(:institution_id,current_user.institutions.uniq, :id, :name, prompt: true) %>
  </div>
  <div>
  <%= f.fields_for :institution do |i|%>
  <%= i.label :name%>
  <%= i.text_field :name %>
  </div>
  <div>
  <%= i.label :address%>
  <%= i.text_field :address %>
  </div>
  <div>
   <%= i.label :file_type%>
  <%= i.text_field :file_type %>
  </div>
<% end %>
  </div>
  <div class='field'>
    <%= f.label :amount %><br />
    <%= f.number_field :amount, min:0 %>
  </div>
  
  <%= f.submit button_label %>
<% end %>
</section>