<section class="jumbotron text-center" >

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h1>Here is the list of your rollovers</h1>


  <% @rollovers.each do |rollover| %>
  <% if rollover.rollover_type == "Incoming"%>
  <p><%= link_to rollover.amount, incoming_path(rollover.id)%> - <%= rollover.rollover_type%><p>
  <%else %>
    <p><%= link_to rollover.amount, outgoing_path(rollover.id) %> - <%= rollover.rollover_type%></p>
  <% end %>
  <%end%>


<p><%= link_to "Create new rollover", new_rollover_path(@rollover)  %></p>

</section>