
<h1>Your outgoing rollovers</h1>

<p>Amount: <%= @rollover.amount %></p>
<p>Origin bank: <%= @rollover.origin %></p>
<p>Destination: <%= @rollover.institution_id %></p>
 
<%= link_to "edit", edit_rollover_path(@rollover)  %> -
<%= link_to "delete", rollover_path(@rollover), method: :delete, data: { confirm: "You sure?" } %><br>