<section class="jumbotron text-center" >

<h1>Your outgoing rollovers</h1>

<p>Amount: <%= @rollover.amount %></p>
<p>Origin bank: <%= @rollover.origin %></p>
<p>Destination: <%= @rollover.institution.name %> </p>
 <p>File Type: <%= @rollover.institution.file_type %></p>




<p><button class="btn btn-outline-primary"><%= link_to "Edit rollover", edit_rollover_path(@rollover)  %></button> - <button class="btn btn-outline-primary"><%= link_to "Delete rollover", rollover_path(@rollover), method: :delete, data: { confirm: "Are you sure?" } %></button> - <button class="btn btn-outline-primary"><%= link_to "Back", rollovers_path(@rollover)%></button></p>

<p><button class="btn btn-outline-primary"><%= link_to "Institutions", institutions_path(@institution)  %></button>

</section> 
