<%= form_for(user) do |f| %>
  <div class='field'>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    </div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
 
  <%= f.submit button_label %>
<% end %>