
  <%= form_for(user) do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @user} %>

  <div class='field'>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
    </div>
    <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    </div>
    <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
   
  <p><%= f.submit button_label %></p>
<% end %>
