<section class="jumbotron text-center" >

<%= form_for(institution) do |f| %>

 <%= render partial: 'layouts/errors', locals: {object: @instituion} %>

  <div class='field'>
    <%= f.label :name %><br />
    <%= f.text_field :name%>
    </div>
    <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
    </div>
   

   <p><%= f.submit button_label %></p>
<% end %>

</section>
