<section class="jumbotron text-center" >

<%= form_for(institution) do |f| %>
  <div class='field'>

  <ul>
  <% @institution.errors.full_messages.each do |error_message|%>
  <li><%= error_message %></li>
  <% end %>
  <ul>

    <%= f.label :name %><br />
    <%= f.text_field :name%>
    </div>
    <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
    </div>
   

   <%= f.submit button_label %>
<% end %>

</section>
