<section class="jumbotron text-center" >

<h1>Institution info</h1>

    <h2><%= @institution.name %></h2>

    <p>Address: <%= @institution.address %></p>
    

<ul>
  <% @institution.rollovers.by_user(current_user).each do |rollover| %></li>
  <% if rollover.rollover_type == "Incoming"%>
  <li><p><%= link_to rollover.amount, incoming_path(rollover.id)%><p></li>
  <%else %>
   <li> <p><%= link_to rollover.amount, outgoing_path(rollover.id) %></p></li>
  <% end %>
  <% end %>
</ul>

<p><button class="btn btn-outline-primary"><%= link_to "New Rollover for this institution", new_institution_rollover_path(@institution) %></button></p>

<p><button class="btn btn-outline-primary"><%= link_to "Back", institutions_path(@institution)%></button></p>

</section>