<h1>Institution info</h1>

    <h2><%= @institution.name %></h2>

    <p>Address: <%= @institution.address %></p>
    <p>File Type: <%= @institution.file_type %></p>

<ul>
  <% @institution.rollovers.each do |rollover| %>
    <li><%= link_to rollover.amount, institution_rollovers_path(@institution, rollover) %></li>

  <% end %>
</ul>

<p><%= link_to "Edit institution", edit_institution_path(@institution)  %></p>
<p><%= link_to "Delete institution", institution_path(@institution), method: :delete, data: { confirm: "Are you sure?" } %></p>
<p><%= link_to "Back", institutions_path(@institution)%></p>
